.container {
  text-align: center;
  background-image: url("../public/images/Instrumentbytte.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;  
  
}

.logo {
  vertical-align: text-top;
  padding-bottom: 5rem;
}

.logo-text {
  font-size: 3rem;
  ;
}

.subtitle {
  margin-bottom: 2rem;
}

.blog-list {
  text-align: start;
  margin: auto;
  width: max-content;
}

.blog-list a {
  color: rgb(4, 165, 165);
  text-decoration: underline;
}

.menu a {
  text-decoration: none;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  padding: 0;
}

.menu li {
list-style: none;
flex: 1 1 auto;
}