.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  position: relative;
}
.logo {
  vertical-align: text-top;
  background-color: #00112f;
  opacity: 0.9;
  width: 100%;
}

.logo-text {
  font-size: 3rem;
  color: white;
}

.menuContainer {
  vertical-align: text-bottom;
}
.menu a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 20px;
}

.mexicanWall {
  position: sticky;
  background-image: url(https://www.w3schools.com/cssref/paper.gif);
  height: auto;
  min-height: 100vh;
  width: 100%;

  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.mexicanHedge {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mexicanImage {
  width: 100%;
  height: auto;
  filter: drop-shadow(2px 4px 6px rgb(0, 0, 0, 0.4));
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.menu li {
  list-style: none;
  flex: 1 1 auto;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  width: 70vw;
  margin: 25px;
  background-size: cover;
}

.contentList {
  list-style: none;
  padding: 0;
}

.contentList li {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.contentList li:nth-child(even) {
  flex-direction: row-reverse;
}

.galleryList {
  list-style: none;
  display: flex;
  flex: 1 1 25%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.galleryList > li {
  /* flex: 1 1 25px; */
  min-width: 250px;
}

.galleryP {
  display: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.button-container {
}

.imageContainer {
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  max-width: 250px;
  max-height: 250px;
}

.imgGalleryTitle {
  display: none;
  margin: 0;
}

.contentImg {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
}

.galleryList li:hover {
  opacity: 0.7;
}

.popup-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 5%;
  top: 5%;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  border-color: black '';
  background-color: rgba(0, 0, 0, 0.7);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popup-title {
  color: white;
}

.popup-img {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: contain;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-text {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 1rem;
}

.content {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}

.blog-list {
  text-align: start;
  margin: auto;
  width: max-content;
}

.blog-list a {
  color: rgb(4, 165, 165);
  text-decoration: underline;
}

.profileList li {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.button {
  letter-spacing: 0;
}

.button:hover,
.button:active {
  letter-spacing: 5px;
}

.button:after,
.button:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: ' ';
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button:hover:after,
.button:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button:hover:after {
  bottom: auto;
  top: 0;
  width: 70%;
}
